<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/tweets.css' />
</head>
<body>
	<center>
		<h1><%= title %></h1>

		<form action="/users/logout" method="post">
			<label>Welcome <%= currentUser %>! </label><input type="submit" value="Log out"> 
		</form>
		<br>
		<form action="/" method="get">
			<input type="submit" value="Home (All tweets)"> 
		</form>
		<br>
		<form action= <%= "/users/"+currentUser %> method="get">
			<input type="submit" value="My Tweets"> 
		</form>
		<br>
		<br>
	</center>
	<h1> Followed Tweets </h1>
	<% followedUsers.forEach(function(user) { %>
		<h2> <%= user.username %>'s Tweets </h2>
		<% user.tweets.forEach(function(tweet){ %>
		<li>
			<h4>  <%= tweet.tweet %> @<i><%= tweet.author.username %></i>
				<% if (currentUser !== tweet.author.username && currentUser != user.username){ %>
				<form class="inline-button" action = <%= "/users/"+currentUser+"/addTweet/"+ tweet.id %> method="post">
					<input type="submit" value="Retweet">
				</form>
				<% } %>
			</h4>
		</li>
		<% }); %>
	<% }); %>
</body>
</html>